.label{
  border: 0;
  clip:rect(0 0 0 0);
  height: 1px;
  width:1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.toggle{
  cursor: pointer;
  margin-right: 1rem;
}

.text{
  margin:0;
  width: 100%;
}

.text.completed{
  color: #777;
  text-decoration: line-through;
}


.delete{
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 1;
  text-align: center;
  height: 40px;
  width: 40px;
  padding: 5px;
  border: 1px solid #eee;
  background-color: magenta;
  color: #eee;
}
.delete:hover{
  cursor: pointer;
  background-color: #ccc;
}